*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: "Kaushan Script";
    src: url("../data/KaushanScript-Regular.ttf");
}
h1{
    font-family: "Kaushan Script";
}
#container{
    width: 100%;
    height: 100%;
}
.nav-list{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}
.nav-list-top{
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}
.nav-logo{
    width: 25%;
    height: 50px;
    float: left;
    margin: 0 20px;
}
.nav-logo .logo-img{
    width: 25%;
    float: left;
}
.nav-logo .logo-img img{
    width: 50px;
    height: 50px;
    border-radius: 180px;
}
.nav-logo .logo-title{
    margin: 10px 40px;
}
.nav-logo .logo-title p{
    font-size: 20px;
    font-weight:400;
    margin: 0;
    padding: 0;
    color: white;
}
.nav-ul{
    width: 65%;
    height: 50px;
    margin: 0 20px;
    float: left;

}
a{
    text-decoration: none;
}
.nav-ul ul{
    width: 100%;
}
.nav-ul ul li{
    float: right;
    margin: 10px 20px;
    list-style: none;

}
.nav-ul ul li a{
    color:rgba(255, 255, 255, 0.7);
}
header{

    background-image: url("../img/img_bg_1.jpg");
    width: 100%;
    height:400px;
}
.body-center{
    position: relative;
    z-index: 100;
    width: 100%;
}
#bg-header{
    background-position:50% 0%;
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;

}

#bg-header .overlay{
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}
.center-header{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 400px;
}
.row{
    width: 100%;
    position: absolute;
    margin:200px 0 0 0;
    padding: 0 15px 0 15px;

}
.header-left{
    width: 100%;
    position: absolute;
    top: 40px;
    text-align: center;


}
.header-left span{
    font-size: 14px;
    color:rgba(255, 255, 255, 0.7);

    text-transform: uppercase;
    letter-spacing: .15em;
    display: block;
}
.header-left h1{

    color: white;
    margin-bottom: 0px;
    font-size: 80px;
    line-height: 1.5;
    font-weight: 400;
    /*font-family: "Kaushan Script", cursive !important;*/
}
.menu{
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: white;
}
.menu-list{
    width: 80%;
    height: 100%;
    margin: 0 auto;

    padding-top: 100px;
}
.menu-first .btn{
    float: left;
 }
.btn button{
    position: relative;
    width: 150px;
    height: 50px;
    border: none;
    background-color: coral;
    text-align: center;
    left: 40%;
    color: white;
}
.btn button:active{
    border: none;
}
.btn .fa-cart-plus{
    font-size: 40px;
    position: relative;
    left: 45%;
    color: coral;
    top: 10px;

}
.menu-first{
    width: 50%;
    height: 500px;
    float: left;
    margin-bottom: 100px;

}
.menu-first .menu-title{
    width: 100%;
    height: 20%;

}
.menu-first .menu-title img{
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 10px;

}
.menu-first .menu-title h1{
    float: left;
    margin: 10px;
    font-weight: 400;

}
.menu-ul{
    width: 100%;
    height: 80%;

}
.menu-ul ul{
    width: 100%;
    height:100%;
}
.menu-ul ul li{
     list-style: none;
    width: 95%;
    height: 20%;
    margin: 15px 10px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
 }
.menu-ul ul li a{
    text-decoration: none;
}
.menu-ul ul li img{
    width:80px;
    height:50px;
    float: left;
    border-radius: 10px;
}
.menu-ul .ul-img{
    width: 20%;
    height: 100%;
    float: left;
}
.menu-ul .ul-word{
    float: left;
    width: 50%;
    color: #5e493a;
    height: 100%;
    margin: 0 20px;

}
.menu-ul .ul-word h3{
    color: #FBB448 !important;
    margin-bottom: 10px;
    font-weight:400;
}
.menu-ul .ul-price{
    width: 20%;
    float: left;
    color: #FBB448;
    font-size: 20px;
    text-align: center;
}
.menu-ul .ul-price:hover{
    color: red !important;
}
.menu-ul .ul-price i:active{
    color: red;
}
.btn{
    position: relative;
    width: 100%;
    height: 200px;
}
.nav-ul ul ul #cart-ul{
    position: absolute;
    width: 150px;
    height: 50px;
    color: white;
    background-color: pink;
}
.nav-ul ul #cart-ul ul li{
    background-color: #00AA88;
}
#logout,#logside{
    color: #FBB448 !important;
}
#two{
    width:130px;
    height:100px;
    position: absolute;
    margin: 10px 0;
    display: none;
}
#two:hover{
    display: block;
}
#two li{
    width: 100%;
    height:50%;
    margin: 0 !important;
    padding-top: 10px;
    border: 1px dotted gray;
    position: relative;
    float: left;
    background-color: gray;
    text-align: center;
}
#two li:hover{
    background-color: #FBB448;
}

#cart-ul{
    width:130px;
    height:50px;
    position: absolute;
    margin: 10px 0;
    display: none;
}

#cart-ul li{
    width: 100%;
    height:50%;
    margin: 0 !important;
    padding-top: 10px;
    border: 1px dotted gray;
    position: relative;
    float: left;
    background-color: gray;
    text-align: center;
}
#cart-ul li:hover{
    background-color: #FBB448;
}
#cart-ul li:hover a{
    color: white !important;
}
#search{
    width:200px;
    height:25px;
    margin-right: 10px;
    border: 1px solid grey;
    display: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: white !important;
}





